<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
    <display-name>webpush</display-name>
    <servlet>
        <servlet-name>BootServlet</servlet-name>
        <servlet-class>cn.com.infostrategy.bs.common.BootServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>SynchronizerServlet</servlet-name>
        <servlet-class>cn.com.infostrategy.wlappletloader.bs.SynchronizerServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>RemoteCallServlet</servlet-name>
        <servlet-class>cn.com.infostrategy.bs.common.RemoteCallServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>WebCallServlet</servlet-name>
        <servlet-class>cn.com.infostrategy.bs.common.WebCallServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ImageServlet</servlet-name>
        <servlet-class>cn.com.infostrategy.bs.common.ImageServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>WebDispatchServlet</servlet-name>
        <servlet-class>cn.com.infostrategy.bs.common.WebDispatchServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>InstallWLTServlet</servlet-name>
        <servlet-class>cn.com.infostrategy.bs.sysapp.install.InstallWLTServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>OfficeViewServlet</servlet-name>
        <servlet-class>cn.com.infostrategy.bs.mdata.OfficeViewServlet</servlet-class>
    </servlet>
<!--
    <servlet>
        <servlet-name>OfficeViewServlet_File</servlet-name>
        <servlet-class>cn.com.infostrategy.bs.mdata.OfficeViewServlet_File</servlet-class>
    </servlet>
-->
    <servlet>
        <servlet-name>OfficeServerServlet_GoldGrid</servlet-name>
        <servlet-class>cn.com.infostrategy.bs.mdata.OfficeServerServlet_GoldGrid</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>OfficeServerServlet_NTKO</servlet-name>
        <servlet-class>cn.com.infostrategy.bs.mdata.OfficeServerServlet_NTKO</servlet-class>
    </servlet>
    <!--
    <servlet>
        <servlet-name>OfficeServerServlet_NTKO_File</servlet-name>
        <servlet-class>cn.com.infostrategy.bs.mdata.OfficeServerServlet_NTKO_File</servlet-class>
    </servlet>
-->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>cn.com.infostrategy.bs.sysapp.login.LoginServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ServerStateServlet</servlet-name>
        <servlet-class>cn.com.infostrategy.bs.sysapp.ServerStateServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>DownLoadFileServlet</servlet-name>
        <servlet-class>cn.com.infostrategy.bs.common.DownLoadFileServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>QuickUpdateTempletServlet</servlet-name>
        <servlet-class>cn.com.infostrategy.bs.mdata.QuickUpdateTempletServlet</servlet-class>
    </servlet>
<!--
    <servlet>
        <servlet-name>WpsViewServlet</servlet-name>
        <servlet-class>cn.com.cmbc.ui.test.wangning.WpsViewServlet</servlet-class>
    </servlet>
-->
    <servlet>
        <servlet-name>ServerPushToClientServlet</servlet-name>
        <servlet-class>cn.com.infostrategy.bs.sysapp.cometpush.ServerPushToClientServlet</servlet-class>
    </servlet>
    <!--
    <servlet>
        <servlet-name>CreateXmlAction</servlet-name>
        <servlet-class>Test.CreateXmlAction</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CreateXmlAction</servlet-name>
        <url-pattern>/CreateXmlAction</url-pattern>
    </servlet-mapping>
        -->
    <servlet-mapping>
        <servlet-name>SynchronizerServlet</servlet-name>
        <url-pattern>/SynchronizerServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>RemoteCallServlet</servlet-name>
        <url-pattern>/RemoteCallServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>WebCallServlet</servlet-name>
        <url-pattern>/WebCallServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ImageServlet</servlet-name>
        <url-pattern>/ImageServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>WebDispatchServlet</servlet-name>
        <url-pattern>/WebDispatchServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>InstallWLTServlet</servlet-name>
        <url-pattern>/install</url-pattern>
    </servlet-mapping>
<!--
    <servlet-mapping>
        <servlet-name>WpsViewServlet</servlet-name>
        <url-pattern>/WpsViewServlet</url-pattern>
    </servlet-mapping>
-->
    <servlet-mapping>
        <servlet-name>OfficeViewServlet</servlet-name>
        <url-pattern>/OfficeViewServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>OfficeServerServlet_GoldGrid</servlet-name>
        <url-pattern>/OfficeServerServlet_GoldGrid</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>OfficeServerServlet_NTKO</servlet-name>
        <url-pattern>/OfficeServerServlet_NTKO</url-pattern>
    </servlet-mapping>
<!--
    <servlet-mapping>
        <servlet-name>OfficeServerServlet_NTKO_File</servlet-name>
        <url-pattern>/OfficeServerServlet_NTKO_File</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>OfficeViewServlet_File</servlet-name>
        <url-pattern>/OfficeViewServlet_File</url-pattern>
    </servlet-mapping>
-->
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ServerStateServlet</servlet-name>
        <url-pattern>/state</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownLoadFileServlet</servlet-name>
        <url-pattern>/DownLoadFileServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ServerPushToClientServlet</servlet-name>
        <url-pattern>/push</url-pattern>
    </servlet-mapping>

    <mime-mapping>
        <extension>rar</extension>
        <mime-type>application/x-rar</mime-type>
    </mime-mapping>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

</web-app>
