body,td,th {
	font-size: 12px;
}
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}.BottomLine {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
}
.ditab {
	BORDER-RIGHT: 1px solid #455A6B;
	BORDER-TOP: 2px solid #FF6600;
	BORDER-LEFT: 1px solid #455A6B;
	color: #000000;
	background-color: #EFF0E6;
	background-position: center center;
	text-align: center;
	font-weight: bold;
} 
.ditab1 {
	BORDER-RIGHT: 0px solid;
	BORDER-TOP: 1px solid #DAD9C7;
	BORDER-LEFT: 1px solid #ffffff;
	BORDER-BOTTOM: 1px solid #455A6B;
	BACKGROUND-COLOR: #DAD9C7;
	text-align: center;
} 
.di { BORDER-BOTTOM: #455A6B 1px solid }
.LineHeight {
	line-height: 20px;
	color: #666666;
	text-decoration: none;
}
.ForgetPSFont {
	color: #0000CC;
	text-decoration: underline;
}
.unnamed1 {
	BORDER-RIGHT: 1px solid #32659C;
	BORDER-TOP: 1px solid #32659C;
	BORDER-LEFT: 1px solid #32659C;
	BORDER-BOTTOM: 1px solid #32659C;
	background-color: #EFF0E6;
}
.BottonLogin {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #31619C;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #31619C;
	height: 20px;
	font-size: 12px;
	color: #000000;
	background-color: #FFFFFF;
}
.LineTop {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #5A5ABD;
}
.menu2 A:hover {
	COLOR:#FC7210;
	line-height: 22px;
	text-decoration: underline;
	font-size: 12px;
	
}
.menu2 A:visited {
	COLOR: #FC7210;
	line-height: 22px;
	font-size: 12px;
	
}
.menu2 A:link {
	line-height: 22px;
	color: #0000ff;
	font-size: 12px;

}
.menu3 A:hover {
	COLOR:#FE7211;
	text-decoration: underline;
	font-size: 12px;
}
.menu3 A:visited {
	COLOR: #676767;
	font-size: 12px;
}
.menu3 A:link {
	color: #676767;
	font-size: 12px;

}
.menu3 A:active {
	text-decoration: none;
	color: #FE7211;
}.Lineheight2 {
	font-size: 12px;
	line-height: 17px;
	color: #000000;
	text-decoration: none;
}
.Bottonnormal {

	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #31619C;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #31619C;
	height: 20px;
	font-size: 12px;
	color: #000000;
	background-color: #FFFFFF;
}
.di6 {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	line-height: 12px;
}
.Lineheight3 {
	font-size: 12px;
	line-height: 17px;
	color: #000000;
	text-decoration: none;
	background-color: #cfdce7;
}
.tab {
	font-size: 12px;
	background-color: #FFFFFF;
	color: #000000;
	border: #9fbfe3;

}
.trr {
	font-size: 12px;
	color: #000000;
	background-color: #E2EBF3;
	border: #9FBFE3;

}
.trr2 {
	font-size: 12px;
	color: #000000;
	background-color: #FFFFFF;
}
.tab_active {
	color: #FF0000;
	background-color: #FFFFFF;
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #336699;
	border-bottom-color: #336699;
	border-left-color: #336699;
}
.box3 {
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #FF9933;
}
.box4 {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FF9933;
}
.BottonLoginRed {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #31619C;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #31619C;
	height: 20px;
	font-family:Arial ;
	font-size: 12px;
	color: #FFFFFF;
	background-color: #FF9933;
	font-weight: normal;
	background-position: center center;
	vertical-align: middle;
}
.unnamed3 {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
}
.unnamed4 {
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
	border-top-width: 3px;
	border-top-style: solid;
	border-top-color: #FFFFFF;
}
.Lineheight1 {
	font-size: 12px;
	line-height: 17px;
	color: #000000;
	text-decoration: none;
	border-top: 1px solid #999999;
	border-right: 1px solid #333333;
	border-bottom: 1px solid #333333;
	border-left: 1px solid #999999;
}
.bodscroll{
 background:#EFF0E6; margin:0px; SCROLLBAR-FACE-COLOR: #E7EBF7; SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; SCROLLBAR-SHADOW-COLOR: #000000; SCROLLBAR-3DLIGHT-COLOR: #000000; SCROLLBAR-ARROW-COLOR: #330000; SCROLLBAR-TRACK-COLOR: #E2F3F1; SCROLLBAR-DARKSHADOW-COLOR: #ffffff; background-color: #FFFFFF; }
.ButtomLine {
	background-color: #EFF0E6;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
}
.box2 {
	border: 1px solid #6A7B89;
}
.systop_box {
	background-color: #6A7B89;
	border: 1px dashed #6A7B89;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.BottomBlack {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #455A6B;
	color: #000000;
	background-color: #FFFFFF;
	border-top-width: 0px;
	border-right-width: 0px;
	border-left-width: 0px;
	background-position: center;
	text-align: center;
}
th {
	background-color: #EFF0E6;
}
.systop_none {

	background-color: #6A7B89;
	border: 1px dashed #6A7B89;
	color: #6A7B89;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	visibility:hidden
}
.unnamed1_rpt {

	BORDER-RIGHT: 1px solid #32659C;
	BORDER-TOP: 1px solid #32659C;
	BORDER-LEFT: 1px solid #32659C;
	BORDER-BOTTOM: 1px solid #32659C;
}
.notice_box {
	border: 1px solid #FF6633;
	background-color: #FFFF99;
}
.Lineheight4 {
	font-size: 12px;
	line-height: 17px;
	color: #000000;
	text-decoration: none;
	background-color: #cfdce7;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-top-width: 0px;
	border-right-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
}
